.rule-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: 100%;

    border-bottom: 1px solid rgb(73, 73, 73);
}

.rule-header, .decoration-header {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 4px;
}

.rule-header-controls {
    gap: 2em;
}

.rule-body, .decoration-body {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 5px;
    overflow: hidden;
}

.decoration-body {
    padding-left: 2em;
    margin-bottom: 1em;
    gap: 0;

    label {
        line-height: 2em;
    }

    input {
        margin-left: 0;
    }
}

.decoration-container {
    display: flex;
    flex-direction: column;
    
}

.rule-id {
    display: inline-flex;
    gap: 0.25em;
    max-width: 8em;
}

input[type='text'].rule-id-input {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: bold;
    font-size: var(--vscode-font-size);
    
    text-transform: uppercase;
}

.control-gap {
    gap: 1em;
}

.drop-down {
    padding: 0 4px;
    transition: all .1s;
}

.delete-rule {
    cursor: pointer;
}

.codicon {
    display: inline-flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

.codicon-edit {
    font-size: 10pt;
}

.center-vertical {
    text-align: center;
    align-items: center;
    align-content: center;
}

.fixed {
    display: none;
}

.open {
    transform: rotate(90deg);
}

.close {
    transform: rotate(-90deg);
}

input[type='checkbox'] {
    padding: 0;
}

input {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    width: calc(100% - 88px);
    height: 24px;
    position: relative;
    display: block;
    padding: 3px 0 3px 6px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid var(--vscode-input-border);
    margin-left: 2em;
}

app-slider-checkbox {
    display: inline-flex;
    cursor: pointer;
}

div {
    display: inline-flex;
}

span {
    display: inline-flex;
}

label {
    
    margin: auto;
    font-size: 11px;
    font-weight: 400;
    overflow: hidden;
    padding: 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-label {
    display: block;
    position: relative;
}

.block {
    display: block;
    position: relative;
}