<div #container [draggable]="isDraggable" class="rule-container">
    <form [formGroup]="ruleForm">
        <header class="rule-header" (click)="toggleExpand($event)">

            <div class="rule-header-container">
                <div
                    (mousedown)="enableDraggable()"
                    (mouseup)="disableDraggable()"
                    [ngClass]="this.gripperClass"
                    class="gripper codicon codicon-gripper">
                </div>
                <div
                    (click)="toggleExpand($event)"
                    [ngClass]="this.rule.expanded ? 'open' : 'closed'" 
                    class="drop-down codicon codicon-chevron-right">
                </div>
                <span
                    *ngIf="!this.isEditingTitle"
                    (click)="toggleExpand($event)"
                    (mouseenter)="showEditIcon = true"
                    (mouseleave)="showEditIcon = false"
                    class="rule-id center-vertical">
                    {{rule.title}}
                    <div
                        (click)="toggleEditTitle()"
                        [ngClass]="this.showEditIcon ? 'editing' : 'fixed'"
                        class="codicon codicon-edit clickable">
                    </div>
                </span>
                <div *ngIf="this.isEditingTitle" class="edit-title-controls">
                    <input
                        class="rule-id-input"
                        type="text"
                        (focus)="onFormFocus()"
                        (blur)="onFormBlur()"
                        (keydown.enter)="updateTitle(); toggleEditTitle(); showEditIcon = false"
                        (keydown.escape)="toggleEditTitle(); showEditIcon = false"
                        formControlName="title"/>
                    <div
                        (click)="toggleEditTitle(); showEditIcon = false"
                        class="codicon codicon-close clickable">
                    </div>
                    <div
                        (click)="updateTitle(); toggleEditTitle(); showEditIcon = false"
                        class="codicon codicon-check clickable">
                    </div>
                </div>
            </div>
            
            <div class="rule-header-controls center-vertical">
                <app-decoration-preview
                    [rule]="rule">
                </app-decoration-preview>
                <div class="center-vertical control-gap">
                    <span *ngIf="this.rule.enabled" class="circle">
                        {{ this.occurrenceData.occurrences }}
                    </span>
                    <app-slider-checkbox
                        [control]="this.ruleForm.controls['enabled']">
                    </app-slider-checkbox>
                </div>
                <span 
                    class="delete-rule codicon codicon-trash"
                    (click)="deleteSelf()">
                </span>
            </div>
        </header>
    
        <div [style.display]="getExpandedStyle(this.rule.expanded)" class="rule-body">
            <div class="control-body">
                <div class="input-label regex-input-row">

                    <div class="regex-column regex-input-column">
                        <label>
                            regular expression: <a title="Regex Tester" href="https://regex101.com/" class="codicon codicon-info"></a>
                        </label>
                        <input
                            formControlName="regularExpression"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" class="regex-input" placeholder="e.g. [0-9]+, apple, (?:apple|orange)"/>
                    </div>
                    <div class="regex-column flags-input-column">
                        <label>
                            flags: <a title="MDN Reference for Flags" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_expressions#advanced_searching_with_flags" class="codicon codicon-info"></a>
                        </label>
                        <input
                            formControlName="regularExpressionFlags"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            class="regex-flags-input"
                            placeholder="e.g. g, gd, gi, i"/>
                    </div>
                </div>
                <div class="input-label">
                    <label>
                        included files:
                    </label>
                    <input
                        formControlName="includedFiles"
                        (focus)="onFormFocus()"
                        (blur)="onFormBlur()"
                        type="text" name="include-files" placeholder="e.g. .*\.java, Test.java, py"/>
                </div>
                <div class="input-label">
                    <label>
                        excluded files:
                    </label>
                    <input
                        formControlName="excludedFiles"
                        (focus)="onFormFocus()"
                        (blur)="onFormBlur()"
                        type="text" name="exclude-files" placeholder="e.g. java, .*\.component\.*"/>
                </div>
            </div>

    
            <div class="decoration-container">
                <header class="decoration-header clickable" (click)="toggleDecorationExpanded($event)">
                    <div class="rule-header-container">
                        <div
                            (click)="toggleDecorationExpanded($event)"
                            [ngClass]="this.rule.decorationExpanded ? 'open' : 'closed'" 
                            class="drop-down codicon codicon-chevron-right">
                        </div>
        
                        <span class="rule-id" (click)="toggleDecorationExpanded($event)">
                            Decorations
                        </span>
                    </div>
        
                </header>
        
                <div class="decoration-body" [style.display]="getExpandedStyle(this.rule.decorationExpanded)">
                    <div class="block">
                        <label>
                            background color: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-color" class="codicon codicon-info"></a>
                        </label>   
                        <input
                            formControlName="backgroundColor"
                            [value]="this.rule.backgroundColor"
                            [style.background]="this.rule.backgroundColor"
                            [(colorPicker)]="this.rule.backgroundColor!"
                            [cpPosition]="'bottom'"
                            (colorPickerSelect)="updateColorPicker('backgroundColor', $event)"/>
                    </div>
                    <div class="input-label">
                        <label>
                            color: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/color" class="codicon codicon-info"></a>
                        </label>
                        <input 
                            formControlName="color"
                            type="text" name="include-files" 
                            [value]="this.rule.color"
                            [style.background]="this.rule.color"
                            [(colorPicker)]="this.rule.color!"
                            [cpPosition]="'bottom'"
                            (colorPickerSelect)="updateColorPicker('color', $event)"/>
                    </div>
                    <div class="input-label">
                        <label>
                            outline: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/outline" class="codicon codicon-info"></a>
                        </label>
                        <input
                            formControlName="outline" 
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="outline" 
                            placeholder="e.g. solid 1px blue, dashed, dotted, double"/>
                    </div>
                    <div class="input-label">
                        <label>
                            outline color:
                        </label>
                        <input
                            formControlName="outlineColor" 
                            type="text" name="include-files"
                            [value]="this.rule.outlineColor"
                            [style.background]="this.rule.outlineColor"
                            [(colorPicker)]="this.rule.outlineColor!"
                            (colorPickerSelect)="updateColorPicker('outlineColor', $event)"/>
                    </div>
                    <div class="input-label">
                        <label>
                            outline width:
                        </label>
                        <input
                            formControlName="outlineWidth"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="include-files" 
                            placeholder="e.g. 1px, 2em, 1rem"
                            [(value)]="this.rule.outlineWidth"/>
                    </div>            
                    <div class="input-label">
                        <label>
                            border: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/border" class="codicon codicon-info"></a>
                        </label>
                        <input 
                            formControlName="border"
                            title="You can either put the entire border value in this input or for organization, across the following fields."
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="border" 
                            placeholder="e.g. solid 1px red, ridge"
                            [(value)]="this.rule.border"/>
                    </div>     
                    <div class="input-label">
                        <label>
                            border color:
                        </label>
                        <input 
                            formControlName="borderColor"
                            type="text" name="border-color"
                            [value]="this.rule.borderColor"
                            [style.background]="this.rule.borderColor"
                            [(colorPicker)]="this.rule.borderColor!"
                            (colorPickerSelect)="updateColorPicker('borderColor', $event)"/>
                    </div>  
                    <div class="input-label">
                        <label>
                            border width:
                        </label>
                        <input 
                            formControlName="borderWidth"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="border-width" placeholder="e.g. 1px, 2em, 3rem"
                            [(value)]="this.rule.borderWidth"/>
                    </div>         
                    <div class="input-label">
                        <label>
                            font style: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-style" class="codicon codicon-info"></a>
                        </label>
                        <input
                            formControlName="fontStyle"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="font-style" placeholder="e.g. normal, italic, oblique"
                            [(value)]="this.rule.fontStyle"/>
                    </div>
                    <div class="input-label">
                        <label>
                            font weight: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight" class="codicon codicon-info"></a>
                        </label>
                        <input
                            formControlName="fontWeight"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="font-weight" placeholder="(100-900) e.g. 700, bold"
                            [(value)]="this.rule.fontWeight"/>
                    </div>                
                    <div class="input-label">
                        <label>
                            text decoration: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration" class="codicon codicon-info"></a>
                        </label>
                        <input 
                            formControlName="textDecoration"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="text-decoration"
                            placeholder="e.g. dashed, double, wavy, underline"
                            [(value)]="this.rule.textDecoration"/>
                    </div>            
                    <div class="input-label">
                        <label>
                            cursor: <a title="MDN Reference" href="https://developer.mozilla.org/en-US/docs/Web/CSS/cursor" class="codicon codicon-info"></a>
                        </label>
                        <input 
                            formControlName="cursor"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text" name="cursor" placeholder="e.g. pointer, grab, text, crosshair"
                            [(value)]="this.rule.cursor"/>
                    </div>
                    <div class="input-label">
                        <label>
                            overview ruler color:
                        </label>
                        <input 
                            formControlName="overviewRulerColor"
                            type="text" 
                            name="overview-ruler-color" 
                            [value]="this.rule.overviewRulerColor"
                            [style.background]="this.rule.overviewRulerColor"
                            [(colorPicker)]="this.rule.overviewRulerColor!"
                            [cpPosition]="'top'"
                            (colorPickerSelect)="updateColorPicker('overviewRulerColor', $event)"/>
                    </div>
                    <div class="input-label">
                        <label>
                            overview ruler lane:
                        </label>
                        <select
                            (blur)="onFormBlur()"
                            formControlName="overviewRulerLane">
                            <option value="7" selected>Full</option>
                            <option value="1">Left</option>
                            <option value="2">Center</option>
                            <option value="4">Right</option>
                        </select>
                    </div>
                    <div class="input-label">
                        <label>
                            max occurrences:
                        </label>
                        <input 
                            formControlName="maxOccurrences"
                            title="This field limits the max amount of regex matches within a file for performance reasons. Increase at your own risk."
                            (blur)="onFormBlur()"
                            (focus)="onFormFocus()"
                            type="number" name="max-occurrences" placeholder="e.g. 1000"
                            />
                    </div>
                    <div class="input-checkbox">
                        <label>
                            Is Whole Line?
                        </label>
                        <input type="checkbox"
                            title="Check this to have the decoration apply for the whole line."
                            (blur)="onFormBlur()"
                            formControlName="isWholeLine"/>
                    </div>    
                </div>
            </div>

            <app-occurrences
                *ngIf="rule.enabled"
                [occurrenceData]="this.occurrenceData"
                [(rule)]="rule">
            </app-occurrences>
        </div>
    </form>
</div>
