.rule-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: 100%;

    border-bottom: 1px solid rgb(73, 73, 73);
}

.rule-header,.decoration-header {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 4px;
}

.rule-header-controls {
    gap: 2em;

}

.control-gap {
    gap: 1em;
}

.rule-body {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 5px;
    overflow: hidden;
}

.rule-id {
    display: inline-flex;
    width: 8em;
}

.drop-down {
    padding: 0 4px;
    transition: all .1s;
}

.codicon {
    text-align: center;
    align-items: center;
    align-content: center;
}

.center-vertical {
    text-align: center;
    align-items: center;
    align-content: center;
}

.open {
    transform: rotate(90deg);
}

.close {
    transform: rotate(-90deg);
}

input[type='checkbox'] {
    padding: 0;
}

input[type='text'] {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    width: calc(100% - 88px);
    height: 24px;
    position: relative;
    display: block;
    padding: 3px 0 3px 6px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid var(--vscode-input-border);
    margin-left: 2em;
}

app-slider-checkbox {
    display: inline-flex;
}
