.rule-header-controls {
    gap: 2em;
}

.rule-body, .decoration-body {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 5px;
    overflow: hidden;
    padding-top: 5px;
}

.decoration-body {
    padding-left: 2em;
    margin-bottom: 1em;
    gap: 0;

    label {
        line-height: 2em;
    }

    input {
        margin-left: 0;
    }
}

.decoration-container {
    display: flex;
    flex-direction: column;
}

input[type='text'].rule-id-input {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: bold;
    font-size: var(--vscode-font-size);
    
    text-transform: uppercase;
}

.control-gap {
    gap: 1em;
}


.delete-rule {
    cursor: pointer;
}


.codicon-edit {
    font-size: 10pt;
}

.center-vertical {
    text-align: center;
    align-items: center;
    align-content: center;
}

input[type='checkbox'] {
    padding: 0;
    margin: auto 0;
    margin-right: 1em;
    height: 16px;
    width: 16px;
}

input, select {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    width: calc(100% - 88px);
    height: 24px;
    position: relative;
    display: block;
    padding: 3px 0 3px 6px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid var(--vscode-input-border);
    margin-left: 2em;
}

select {
    margin: 0;
}

app-slider-checkbox {
    display: inline-flex;
    cursor: pointer;
}

div {
    display: inline-flex;
}

span {
    display: inline-flex;
}

label {
    
    margin: auto;
    font-size: 11px;
    font-weight: 400;
    overflow: hidden;
    padding: 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-label {
    display: block;
    position: relative;
}

.input-checkbox {
    margin-top: 1em;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;

    label {
        margin-left: 0;
        font-size: 14px;
    }
}
