<div #container [draggable]="isDraggable" class="rule-container">
    <form [formGroup]="ruleForm">
        <header
            class="rule-header"
            (click)="toggleExpand($event)"
            (keydown.enter)="toggleExpand($event)"
            tabindex="0">
            <div class="rule-header-container">
                <div
                    (mousedown)="enableDraggable()"
                    (mouseup)="disableAllDraggable()"
                    [ngClass]="isDraggable ? 'grabbed' : ''"
                    [tabIndex]="0"
                    class="gripper codicon codicon-gripper"></div>
                <div
                    (click)="toggleExpand($event)"
                    (keydown.enter)="toggleExpand($event)"
                    [ngClass]="this.rule.expanded ? 'open' : 'closed'"
                    tabindex="0"
                    class="drop-down codicon codicon-chevron-right"></div>
                <span
                    *ngIf="!this.isEditingTitle"
                    (click)="toggleExpand($event)"
                    (mouseenter)="showEditIcon = true"
                    (mouseleave)="showEditIcon = false"
                    (focus)="showEditIcon = true"
                    (blur)="showEditIcon = false"
                    tabindex="0"
                    (keydown.enter)="toggleEditTitle()"
                    class="rule-id center-vertical">
                    {{ rule.title }}
                    <div
                        tabindex="0"
                        (click)="toggleEditTitle()"
                        (keydown.enter)="toggleEditTitle()"
                        [ngClass]="this.showEditIcon ? 'editing' : 'fixed'"
                        class="codicon codicon-edit clickable"></div>
                </span>
                <div *ngIf="this.isEditingTitle" class="edit-title-controls">
                    <input
                        class="rule-id-input"
                        type="text"
                        (focus)="onFormFocus()"
                        (blur)="onFormBlur()"
                        (keydown.enter)="
                            updateTitle();
                            toggleEditTitle();
                            showEditIcon = false
                        "
                        (keydown.escape)="
                            toggleEditTitle(); showEditIcon = false
                        "
                        formControlName="title" />
                    <div
                        (keydown.enter)="
                            toggleEditTitle(); showEditIcon = false
                        "
                        (click)="toggleEditTitle(); showEditIcon = false"
                        tabindex="0"
                        class="codicon codicon-close clickable"></div>
                    <div
                        (keydown.enter)="
                            updateTitle();
                            toggleEditTitle();
                            showEditIcon = false
                        "
                        (click)="
                            updateTitle();
                            toggleEditTitle();
                            showEditIcon = false
                        "
                        tabindex="0"
                        class="codicon codicon-check clickable"></div>
                </div>
            </div>

            <div class="rule-header-controls center-vertical">
                <app-decoration-preview [rule]="rule"> </app-decoration-preview>
                <div class="center-vertical control-gap">
                    <span *ngIf="this.rule.enabled" class="circle">
                        {{ this.occurrenceData.occurrences }}
                    </span>
                    <app-slider-checkbox
                        [control]="this.ruleForm.controls['enabled']">
                    </app-slider-checkbox>
                </div>
                <span
                    tabindex="0"
                    class="delete-rule codicon codicon-trash"
                    (keydown.enter)="deleteSelf()"
                    (click)="deleteSelf()">
                </span>
            </div>
        </header>

        <div
            [style.display]="getExpandedStyle(this.rule.expanded)"
            class="rule-body">
            <div class="control-body">
                <div class="input-label regex-input-row">
                    <div class="regex-column regex-input-column">
                        <label [htmlFor]="this.rule.id + '-regularExpression'">
                            regular expression:
                            <a
                                title="Regex Tester"
                                href="https://regex101.com/"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-regularExpression'"
                            formControlName="regularExpression"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            class="regex-input"
                            placeholder="e.g. [0-9]+, apple, (?:apple|orange)" />
                    </div>
                    <div class="regex-column flags-input-column">
                        <label
                            [htmlFor]="
                                this.rule.id + '-regularExpressionFlags'
                            ">
                            flags:
                            <a
                                title="MDN Reference for Flags"
                                href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_expressions#advanced_searching_with_flags"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-regularExpressionFlags'"
                            formControlName="regularExpressionFlags"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            class="regex-flags-input"
                            placeholder="e.g. g, gd, gi, i" />
                    </div>
                </div>
                <div class="input-label">
                    <label [htmlFor]="this.rule.id + '-includedFiles'">
                        included files:
                    </label>
                    <input
                        [id]="this.rule.id + '-includedFiles'"
                        formControlName="includedFiles"
                        (focus)="onFormFocus()"
                        (blur)="onFormBlur()"
                        type="text"
                        name="include-files"
                        placeholder="e.g. .*\.java, Test.java, py" />
                </div>
                <div class="input-label">
                    <label [htmlFor]="this.rule.id + '-excludedFiles'">
                        excluded files:
                    </label>
                    <input
                        [id]="this.rule.id + '-excludedFiles'"
                        formControlName="excludedFiles"
                        (focus)="onFormFocus()"
                        (blur)="onFormBlur()"
                        type="text"
                        name="exclude-files"
                        placeholder="e.g. java, .*\.component\.*" />
                </div>
            </div>

            <div class="decoration-container">
                <header
                    class="decoration-header clickable"
                    tabindex="0"
                    (keydown.enter)="toggleDecorationExpanded($event)"
                    (click)="toggleDecorationExpanded($event)">
                    <div class="rule-header-container">
                        <div
                            tabindex="0"
                            (keydown.enter)="toggleDecorationExpanded($event)"
                            (click)="toggleDecorationExpanded($event)"
                            [ngClass]="
                                this.rule.decorationExpanded ? 'open' : 'closed'
                            "
                            class="drop-down codicon codicon-chevron-right"></div>

                        <span
                            class="rule-id"
                            tabindex="0"
                            (keydown.enter)="toggleDecorationExpanded($event)"
                            (click)="toggleDecorationExpanded($event)">
                            Decorations
                        </span>
                    </div>
                </header>

                <div
                    class="decoration-body"
                    [style.display]="
                        getExpandedStyle(this.rule.decorationExpanded)
                    ">
                    <div class="block">
                        <label [htmlFor]="this.rule.id + '-backgroundColor'">
                            background color:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-color"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-backgroundColor'"
                            formControlName="backgroundColor"
                            [value]="this.rule.backgroundColor"
                            [style.background]="this.rule.backgroundColor"
                            [(colorPicker)]="this.rule.backgroundColor!"
                            [cpPosition]="'bottom'"
                            (colorPickerSelect)="
                                updateColorPicker('backgroundColor', $event)
                            " />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-color'">
                            color:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/color"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-color'"
                            formControlName="color"
                            type="text"
                            name="include-files"
                            [value]="this.rule.color"
                            [style.background]="this.rule.color"
                            [(colorPicker)]="this.rule.color!"
                            [cpPosition]="'bottom'"
                            (colorPickerSelect)="
                                updateColorPicker('color', $event)
                            " />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-outline'">
                            outline:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/outline"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-outline'"
                            formControlName="outline"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="outline"
                            placeholder="e.g. solid 1px blue, dashed, dotted, double" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-outlineColor'">
                            outline color:
                        </label>
                        <input
                            [id]="this.rule.id + '-outlineColor'"
                            formControlName="outlineColor"
                            type="text"
                            name="include-files"
                            [value]="this.rule.outlineColor"
                            [style.background]="this.rule.outlineColor"
                            [(colorPicker)]="this.rule.outlineColor!"
                            (colorPickerSelect)="
                                updateColorPicker('outlineColor', $event)
                            " />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-outlineWidth'">
                            outline width:
                        </label>
                        <input
                            [id]="this.rule.id + '-outlineWidth'"
                            formControlName="outlineWidth"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="include-files"
                            placeholder="e.g. 1px, 2em, 1rem"
                            [(value)]="this.rule.outlineWidth" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-border'">
                            border:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/border"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-border'"
                            formControlName="border"
                            title="You can either put the entire border value in this input or for organization, across the following fields."
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="border"
                            placeholder="e.g. solid 1px red, ridge"
                            [(value)]="this.rule.border" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-borderColor'">
                            border color:
                        </label>
                        <input
                            [id]="this.rule.id + '-borderColor'"
                            formControlName="borderColor"
                            type="text"
                            name="border-color"
                            [value]="this.rule.borderColor"
                            [style.background]="this.rule.borderColor"
                            [(colorPicker)]="this.rule.borderColor!"
                            (colorPickerSelect)="
                                updateColorPicker('borderColor', $event)
                            " />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-borderWidth'">
                            border width:
                        </label>
                        <input
                            [id]="this.rule.id + '-borderWidth'"
                            formControlName="borderWidth"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="border-width"
                            placeholder="e.g. 1px, 2em, 3rem"
                            [(value)]="this.rule.borderWidth" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-fontStyle'">
                            font style:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-style"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-fontStyle'"
                            formControlName="fontStyle"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="font-style"
                            placeholder="e.g. normal, italic, oblique"
                            [(value)]="this.rule.fontStyle" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-fontWeight'">
                            font weight:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-fontWeight'"
                            formControlName="fontWeight"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="font-weight"
                            placeholder="(100-900) e.g. 700, bold"
                            [(value)]="this.rule.fontWeight" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-textDecoration'">
                            text decoration:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-textDecoration'"
                            formControlName="textDecoration"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="text-decoration"
                            placeholder="e.g. dashed, double, wavy, underline"
                            [(value)]="this.rule.textDecoration" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-cursor'">
                            cursor:
                            <a
                                title="MDN Reference"
                                href="https://developer.mozilla.org/en-US/docs/Web/CSS/cursor"
                                class="codicon codicon-info"></a>
                        </label>
                        <input
                            [id]="this.rule.id + '-cursor'"
                            formControlName="cursor"
                            (focus)="onFormFocus()"
                            (blur)="onFormBlur()"
                            type="text"
                            name="cursor"
                            placeholder="e.g. pointer, grab, text, crosshair"
                            [(value)]="this.rule.cursor" />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-overviewRuleColor'">
                            overview ruler color:
                        </label>
                        <input
                            [id]="this.rule.id + '-overviewRuleColor'"
                            formControlName="overviewRulerColor"
                            type="text"
                            name="overview-ruler-color"
                            [value]="this.rule.overviewRulerColor"
                            [style.background]="this.rule.overviewRulerColor"
                            [(colorPicker)]="this.rule.overviewRulerColor!"
                            [cpPosition]="'top'"
                            (colorPickerSelect)="
                                updateColorPicker('overviewRulerColor', $event)
                            " />
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-overviewRulerLane'">
                            overview ruler lane:
                        </label>
                        <select
                            [id]="this.rule.id + '-overviewRulerLane'"
                            (blur)="onFormBlur()"
                            formControlName="overviewRulerLane">
                            <option value="7" selected>Full</option>
                            <option value="1">Left</option>
                            <option value="2">Center</option>
                            <option value="4">Right</option>
                        </select>
                    </div>
                    <div class="input-label">
                        <label [htmlFor]="this.rule.id + '-maxOccurrences'">
                            max occurrences:
                        </label>
                        <input
                            [id]="this.rule.id + '-maxOccurrences'"
                            formControlName="maxOccurrences"
                            title="This field limits the max amount of regex matches within a file for performance reasons. Increase at your own risk."
                            (blur)="onFormBlur()"
                            (focus)="onFormFocus()"
                            type="number"
                            name="max-occurrences"
                            placeholder="e.g. 1000" />
                    </div>
                    <div class="input-checkbox">
                        <label [htmlFor]="this.rule.id + '-isWholeLine'">
                            Is Whole Line?
                        </label>
                        <input
                            [id]="this.rule.id + '-isWholeLine'"
                            type="checkbox"
                            title="Check this to have the decoration apply for the whole line."
                            (blur)="onFormBlur()"
                            formControlName="isWholeLine" />
                    </div>

                    <app-child-decoration
                        formGroupName="before"
                        [(rule)]="rule"
                        [id]="CHILD_DECORATION_TYPE.BEFORE">
                    </app-child-decoration>

                    <app-child-decoration
                        formGroupName="after"
                        [(rule)]="rule"
                        [id]="CHILD_DECORATION_TYPE.AFTER">
                    </app-child-decoration>
                </div>
            </div>

            <app-occurrences
                *ngIf="rule.enabled"
                [occurrenceData]="this.occurrenceData"
                [(rule)]="rule">
            </app-occurrences>
        </div>
    </form>
</div>
