.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.drop-overlay {
  z-index: 999;
  /* taken from vs code #monaco-workbench-editor-drop-overlay direct child. */
  background-color: rgba(83, 89, 93, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* https://stackoverflow.com/questions/20958176/why-is-dragleave-event-firing-unexpectedly */
  pointer-events: none;
}