/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }


body {
    padding: 0;
    background-color: var(--vscode-sideBar-background);
    font-family: var(--vscode-font-family);
    
}


h2 {
    margin: 0;
    color: var(--vscode-debugIcon-breakpointDisabledForeground);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;

    border-radius: 50%;
    background-color: rgb(73, 73, 73);
    width: 16px;
    height: 16px;
}