/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@vscode/codicons/dist/codicon.css';

html, body { height: 100%; }


body {
    padding: 0;
    background-color: var(--vscode-sideBar-background);
    font-family: var(--vscode-font-family);
}

h2 {
    margin: 0;
    color: var(--vscode-debugIcon-breakpointDisabledForeground);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;

    border-radius: 50%;
    background-color: rgb(73, 73, 73);
    width: 16px;
    height: 16px;
}

.clickable {
    cursor: pointer;
}

.rule-header, .decoration-header {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 4px;
}

.rule-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    border-top: 1px solid rgb(73, 73, 73);
    border-bottom: 1px solid rgb(73, 73, 73);
}

.center {
    justify-content: center;
}

.gripper {
    cursor: grab;
}

.grabbed * {
    cursor: grabbing !important;
}

.grabbed {
    cursor: grabbing !important;
}