.open {
    transform: rotate(90deg);
}

.closed {
    transform: rotate(0deg);
}

.codicon {
    cursor: pointer;
}

.selection-title {
    text-transform: uppercase;
    font-weight: 700;
}

.child-decoration {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}
