.edit-block {
    height: 100%;
    width: 80%;
    display: inline-block;
    padding: 1em;
    margin: 1em;
    overflow-x: hidden;
    white-space: pre-wrap;
}

.invalid {
    border: 1px solid red;
}
