<div
    class="preview-container"
    [style.outline]="rule.outline"
    [style.outlineColor]="rule.outlineColor"
    [style.outlineWidth]="rule.outlineWidth"
    [style.backgroundColor]="rule.backgroundColor">
    <div
        [style.border]="rule.border"
        [style.borderColor]="rule.borderColor"
        [style.borderWidth]="rule.borderWidth"
        [style.color]="rule.color"
        [style.fontWeight]="rule.fontWeight"
        [style.textDecoration]="rule.textDecoration"
        [style.cursor]="rule.cursor"
        class="preview">
        A
    </div>
</div>
