<header class="occurrences-header clickable" (click)="toggleExpand($event)">
    <div class="rule-header-container clickable">
        <div
            (click)="toggleExpand($event)"
            [ngClass]="this.rule.occurrencesExpanded ? 'open' : 'closed'" 
            class="drop-down codicon codicon-chevron-right">
        </div>

        <span class="rule-id clickable" (click)="toggleExpand($event)">
            Occurrences
        </span>
    </div>

</header>

<div class="occurrences-body"
    [style.display]="getExpandedStyle(this.rule.occurrencesExpanded)">
    <div class="selection-text">
        <span class="selection-title">
            Selection:
        </span>
        {{ occurrenceIndex }} of {{ rule.occurrences }}
    </div>
    <div class="occurrence">
        <div
            title="Jump to line" 
            (click)="jumpToLine()"
            class="codicon codicon-target">
        </div>
        <div 
            (wheel)="processWheel($event)"
            class="up-or-down" >
            <div
                title="Previous selection" 
                class="codicon codicon-arrow-small-up" 
                (click)="decrement()"></div>
            <div 
                title="Next selection"
                class="codicon codicon-arrow-small-down"
                (click)="increment()"></div>
        </div>
        
        <div *ngIf="lineRange"
            (wheel)="processWheel($event)"
            class="occurrence-text">
            <div class="line-number">
                {{ lineRange.lineNumber + 1 }}:
            </div>
            <div >
                {{ lineRange.line?.substring(0, lineRange.startIndex) }} 
                <span
                    [style.border]="rule.border"
                    [style.borderColor]="rule.borderColor"
                    [style.borderWidth]="rule.borderWidth"
                    [style.color]="rule.color"
                    [style.fontWeight]="rule.fontWeight"
                    [style.textDecoration]="rule.textDecoration"
                    [style.cursor]="rule.cursor"
                    [style.outline]="rule.outline"
                    [style.outlineColor]="rule.outlineColor"
                    [style.outlineWidth]="rule.outlineWidth"
                    [style.backgroundColor]="rule.backgroundColor">{{lineRange.line?.substring(lineRange.startIndex, lineRange.endIndexExcl)}}</span>
                {{ lineRange.line?.substring(lineRange.endIndexExcl) }}
            </div>
        </div>
    </div>
    <div class="occurrences-list-container clickable">
        <div 
            (click)="toggleListExpand($event)"
            class="occurrences-list-header clickable">
            OCCURRENCES LIST
            <div
                [ngClass]="isListOpen ? 'open' : 'closed'"
                (click)="toggleListExpand($event)"
                class="drop-down codicon codicon-chevron-right">
            </div>
        </div>
    
        <div class="occurrence-list" 
            [style.display]="isListOpen ? 'block' : 'none'">
            <div class="occurrence-text clickable"
                (click)="lineRange = line; occurrenceIndex = (index + 1); jumpToLine()"
                [style.backgroundColor]="line === lineRange ? 'rgb(73,73,73)' : 'transparent'"
                *ngFor="let line of this.rule?.lineRanges ?? []; index as index;">
                <div class="line-number">
                    {{ line.lineNumber + 1 }}:
                </div>
                <div >
                    {{ line.line?.substring(0, line.startIndex) }} 
                    <span
                        [style.border]="rule.border"
                        [style.borderColor]="rule.borderColor"
                        [style.borderWidth]="rule.borderWidth"
                        [style.color]="rule.color"
                        [style.fontWeight]="rule.fontWeight"
                        [style.textDecoration]="rule.textDecoration"
                        [style.cursor]="rule.cursor"
                        [style.outline]="rule.outline"
                        [style.outlineColor]="rule.outlineColor"
                        [style.outlineWidth]="rule.outlineWidth"
                        [style.backgroundColor]="rule.backgroundColor">{{line.line?.substring(line.startIndex, line.endIndexExcl)}}</span>
                    {{ line.line?.substring(line.endIndexExcl) }}
                </div>
            </div>
        </div>
    </div>

</div>
