<header class="occurrences-header clickable" (click)="toggleExpand($event)">
    <div class="rule-header-container clickable">
        <div
            (click)="toggleExpand($event)"
            [ngClass]="this.rule.occurrencesExpanded ? 'open' : 'closed'" 
            class="drop-down codicon codicon-chevron-right">
        </div>

        <span class="rule-id clickable" (click)="toggleExpand($event)">
            Occurrences
        </span>
    </div>

</header>

<div class="occurrences-body"
    [style.display]="getExpandedStyle(this.rule.occurrencesExpanded)">
    <div class="selection-text">
        <span class="selection-title">
            Selection:
        </span>
        {{ occurrenceIndex }} of {{ rule.occurrences }}
    </div>
    <div class="occurrence">
        <div
            title="Jump to line" 
            (click)="jumpToLine()"
            class="codicon codicon-target">
        </div>
        <div 
            (wheel)="processWheel($event)"
            class="up-or-down" >
            <div
                title="Previous selection" 
                class="codicon codicon-arrow-small-up" 
                (click)="decrement()"></div>
            <div 
                title="Next selection"
                class="codicon codicon-arrow-small-down"
                (click)="increment()"></div>
        </div>
        
        <app-occurrence-display
            [occurrenceIndex]="-1"
            [rule]="rule"
            [lineRange]="selectedLineRange"
            [isSelected]="true">
        </app-occurrence-display>
    </div>
    <div class="occurrences-list-container clickable">
        <div 
            (click)="toggleListExpand($event)"
            class="occurrences-list-header clickable">
            OCCURRENCES LIST
            <div
                [ngClass]="isListOpen ? 'open' : 'closed'"
                (click)="toggleListExpand($event)"
                class="drop-down codicon codicon-chevron-right">
            </div>
        </div>
    
        <div class="occurrence-list" 
            [style.display]="isListOpen ? 'block' : 'none'">
            <app-occurrence-display
                *ngFor="let lineRange of this.rule?.lineRanges ?? []; index as index"
                [lineRange]="lineRange"
                [rule]="this.rule"
                [occurrenceIndex]="index"
                [isSelected]="lineRange === selectedLineRange"
                (onSelect)="select(lineRange)">
            </app-occurrence-display>
        </div>
    </div>

</div>
