<header class="occurrences-header" (click)="toggleExpand($event)">
    <div class="rule-header-container">
        <div
            (click)="toggleExpand($event)"
            [ngClass]="this.rule.occurrencesExpanded ? 'open' : 'closed'" 
            class="drop-down codicon codicon-chevron-right">
        </div>

        <span class="rule-id" (click)="toggleExpand($event)">
            Occurrences
        </span>
    </div>

</header>

<content class="occurrences-body" [style.display]="getExpandedStyle(this.rule.occurrencesExpanded)">
    <div class="selection-text">
        <span class="selection-title">
            Selection:
        </span>
        {{ occurrenceIndex }} of {{ rule.occurrences }}
    
        <div></div>
    </div>
    <div class="occurrence">
        <div
            title="Jump to line" 
            (click)="jumpToLine()"
            class="codicon codicon-target">
        </div>
        <div class="up-or-down" >
            <div
                title="Previous selection" 
                class="codicon codicon-arrow-small-up" 
                (click)="decrement()"></div>
            <div 
                title="Next selection"
                class="codicon codicon-arrow-small-down"
                (click)="increment()"></div>
        </div>
        
        <div *ngIf="lineRange" class="occurrence-text">
            <div class="line-number">
                {{ lineRange.lineNumber }}:
            </div>
            <div >
                {{ lineRange.line?.substring(0, lineRange.startIndex) }} 
                <span
                    [style.border]="rule.border"
                    [style.borderColor]="rule.borderColor"
                    [style.borderWidth]="rule.borderWidth"
                    [style.color]="rule.color"
                    [style.fontWeight]="rule.fontWeight"
                    [style.textDecoration]="rule.textDecoration"
                    [style.cursor]="rule.cursor"
                    [style.outline]="rule.outline"
                    [style.outlineColor]="rule.outlineColor"
                    [style.outlineWidth]="rule.outlineWidth"
                    [style.backgroundColor]="rule.backgroundColor">{{lineRange.line?.substring(lineRange.startIndex, lineRange.endIndexExcl)}}</span>
                {{ lineRange.line?.substring(lineRange.endIndexExcl) }}
            </div>
        </div>
    </div>
</content>
