.occurrences-body {
    display: flex;
    flex-direction: column;
    padding-left: 1em;

    margin-top: 5px;
    margin-bottom: 5px;
    gap: 0;

    label {
        line-height: 2em;
    }

    input {
        margin-left: 0;
    }
}

.occurrence {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

app-occurrence-display {
    min-height: 2em;
    line-height: 2em;
    display: inline-flex;
    width: 100%;
    margin-right: 1em;
}

.occurrence-list {
    margin-right: 15px;
    min-height: 12em;
    max-height: 18em;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(73, 73, 73);
    padding: 6px;
}

.occurrences-list-header {
    border: solid 1px rgb(73, 73, 73);
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    width: 98%;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.open {
    transform: rotate(90deg);
}

.closed {
    transform: rotate(0deg);
}

.selection-text {
    padding-left: 4.5em;
    font-size: 11px;
}

.selection-title {
    text-transform: uppercase;
    font-weight: 700;
}

.codicon {
    cursor: pointer;
}

.up-or-down {
    display: inline-flex;
    flex-direction: column;
}

.up-or-down .codicon {
    font-size: 20px;
}
